<header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          Logo
          <!-- <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
            <use xlink:href="#bootstrap"></use>
          </svg> -->
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a routerLink="" class="nav-link px-2 link-secondary">Home</a></li>
          <li><a routerLink="users" routerLinkActive="active" class="nav-link px-2 link-body-emphasis">Users</a></li>
          <li><a routerLink="columns" routerLinkActive="active" class="nav-link px-2 link-body-emphasis">Columns</a></li>
          <li><a routerLink="about" routerLinkActive="active" class="nav-link px-2 link-body-emphasis">About</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>

        <div *ngIf="!isLoggedIn(); else loggedIn">
          <a routerLink="/login" class="btn btn-outline-primary me-2">Login</a>
          <a routerLink="/register" class="btn btn-primary">Register</a>
      </div>
      <ng-template #loggedIn>
          <button (click)="logout()" class="btn btn-outline-danger">Logout</button>
      </ng-template>
      
      </div>
    </div>
  </header>