<div class="container">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-3 py-5 my-5 border-top">
    <!-- Logo en auteursrecht -->
    <div class="col-md-3 mb-3 ms-3">
      <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <img src="../../../../assets/recipelogo.png" height="50" alt="Logo">
      </a>
      <p class="text-muted">©{{currentYear}} Recipe App. Alle rechten voorbehouden.</p>
    </div>

    <!-- Navigatie links -->
    <div class="col-md-3 mb-3">
      <h5>Menu</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-muted">Home</a></li>
        <li class="nav-item mb-2"><a href="/recipes" class="nav-link p-0 text-muted">Recipes</a></li>
        <li class="nav-item mb-2"><a href="/kookclubs" class="nav-link p-0 text-muted">Kookclubs</a></li>
        <li class="nav-item mb-2"><a href="/about" class="nav-link p-0 text-muted">About</a></li>
      </ul>
    </div>



    <!-- Nieuwsbrief -->
    <div class="col-md-5 mb-3 ">
      <h5>Blijf op de hoogte</h5>
      <form>
        <label for="newsletter" class="form-label text-muted">Schrijf je in voor onze nieuwsbrief:</label>
        <div class="d-flex">
          <input
            type="email"
            id="newsletter"
            class="form-control"
            placeholder="Email"
            aria-label="Emailadres"
          />
          <button type="submit" class="btn btn-primary ms-2">Inschrijven</button>
        </div>
      </form>
    </div>
  </footer>
</div>
