<div class="container mt-4">
  <h2>Kookclub Maken</h2>
  <form (submit)="createKookclub()">
    <div class="mb-3">
      <label for="kookclubNaam" class="form-label">Naam</label>
      <input
        type="text"
        id="kookclubNaam"
        class="form-control"
        [(ngModel)]="kookclubNaam"
        name="naam"
        required
      />
    </div>

    <div class="mb-3">
      <label for="beschrijving" class="form-label">Beschrijving</label>
      <textarea
        id="beschrijving"
        class="form-control"
        [(ngModel)]="beschrijving"
        name="beschrijving"
        required
      ></textarea>
    </div>

    <div class="mb-3">
      <label class="form-label">Categorieën</label>
      <div *ngFor="let categorie of availableCategories" class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          [checked]="categorieen.includes(categorie)"
          (change)="toggleCategorie(categorie)"
          id="{{ categorie }}"
          name="categorie"
        />
        <label class="form-check-label" for="{{ categorie }}">
          {{ categorie }}
        </label>
      </div>
    </div>
    
    <div class="mb-3">
      <label for="recepten" class="form-label">Recepten</label>
      <select
        multiple
        id="recepten"
        class="form-control"
        [(ngModel)]="selectedRecepten"
        name="recepten"
      >
        <option
          *ngFor="let recipe of availableRecipes"
          [value]="recipe._id"
        >
          {{ recipe.title }}
        </option>
      </select>
    </div>

    <button type="submit" class="btn btn-success">Kookclub Maken</button>
  </form>
</div>
